body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7a7cd3;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

select, button {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px; /* Espaciado entre la lista desplegable y el botón */
}

select {
    width: 150px; /* Ancho deseado para la lista desplegable */
}

button {
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
}
